<h2>flights#index</h2>

<p><%= params %></p>

<%= form_with method: :get, scope: :query do |form| %>
  <%= form.label :departure_code, "Depart from: " %>
  <%= form.collection_select :departure_code, @departure_airports, :id, :iata_code, selected: @query_params[:departure_code], include_blank: true %><br>
  <%= form.label :arrival_code, "Arrive at: " %>
  <%= form.collection_select :arrival_code, @arrival_airports, :id, :iata_code, selected: @query_params[:arrival_code], include_blank: true %><br>
  <%# form.label :departure_airport_id, "Depart from: " %>
  <%# form.select :departure_airport_id, @airport_options %>
  <%# form.label :arrival_airport_id, "Arrive at: " %>
  <%# form.select :arrival_airport_id, @airport_options %>
  <%= form.label :date, "Select a date: " %>
  <%= form.collection_select :date, @flights, :date, :date, selected: @query_params[:date], include_blank: true %><br>
  <%# form.label :date, "Date: " %>
  <%# form.date_field :date, value: @query_params[:date] %>
  <%= form.label :num_tickets, "Number of passengers: " %>
  <%= form.select :num_tickets, [["1",1],["2",2],["3",3],["4",4]], include_blank: true %><br>

  <%= form.submit "Search" %>
<% end %><br>

<h3><%= @flights.any? ? 'Available flights:' : 'There are no available flights' %></h3>
<div>
  <% @flights.each do |flight| %>
    <%= flight.id %><br>
    <%= flight.departure_airport.iata_code %><br>
    <%= flight.arrival_airport.iata_code %><br>
    <%= flight.date %><br>
    <%= flight.duration %><br><br>
  <% end %>
</div>