<h2>flights#index</h2>

<p><%= params %></p>

<%= form_with method: :get do |form| %>
  <%= form.label :departure_code, "Depart from: " %>
  <%= form.collection_select :departure_code, Airport.order(:iata_code), :id, :iata_code, include_blank: true %><br>
  <%= form.label :arrival_code, "Arrive at: " %>
  <%= form.collection_select :arrival_code, Airport.order(:iata_code), :id, :iata_code, include_blank: true %><br>
  <%# form.label :departure_airport_id, "Depart from: " %>
  <%# form.select :departure_airport_id, @airport_options %>
  <%# form.label :arrival_airport_id, "Arrive at: " %>
  <%# form.select :arrival_airport_id, @airport_options %>
  <%= form.label :date, "Date: " %>
  <%= form.date_select :date %><br>
  <%= form.label :num_tickets, "Number of passengers: " %>
  <%= form.select :num_tickets, [["1",1],["2",2],["3",3],["4",4]], include_blank: true %><br>

  <%= form.submit "Search" %>
<% end %><br>

<h3>Available Flights:</h3>
<div>
  <% @flights.each do |flight| %>
    <%= flight.id %><br>
    <%= flight.departure_airport.iata_code %><br>
    <%= flight.arrival_airport.iata_code %><br>
    <%= flight.date %><br>
    <%= flight.duration %><br><br>
  <% end %>
</div>