<h2>flights#index</h2>

<p><%= params %></p>

<%= form_with method: :get, scope: :query do |form| %>
  <%= form.label :departure_code, "Depart from: " %>
  <%= form.collection_select :departure_code, @departure_airports, :id, :iata_code, selected: @query_params[:departure_code], include_blank: true %><br>
  <%= form.label :arrival_code, "Arrive at: " %>
  <%= form.collection_select :arrival_code, @arrival_airports, :id, :iata_code, selected: @query_params[:arrival_code], include_blank: true %><br>
  <%# form.label :departure_airport_id, "Depart from: " %>
  <%# form.select :departure_airport_id, @airport_options %>
  <%# form.label :arrival_airport_id, "Arrive at: " %>
  <%# form.select :arrival_airport_id, @airport_options %>
  <%= form.label :date, "Select a date: " %>
  <%= form.collection_select :date, @dates, :date, :date, selected: @query_params[:date], include_blank: true %><br>
  <%# form.label :date, "Date: " %>
  <%# form.date_field :date, value: @query_params[:date] %>
  <%= form.label :num_tickets, "Number of passengers: " %>
  <%= form.select :num_tickets, [["1",1],["2",2],["3",3],["4",4]], selected: @query_params[:num_tickets] %><br>

  <%= form.submit "Search" %>
<% end %><br>

<h3>Available flights:</h3>
<div>
  <%= form_with url: "/book", method: :get do |form| %>
    <%= form.hidden_field :num_tickets, value: @query_params[:num_tickets] %>
    <%= form.collection_radio_buttons :flight_id, @flights, :id, :summary do |b| %>
      <%= b.label { b.radio_button + " " + b.text } %><br>
    <% end %>
    <%= form.submit "Select" %>
  <% end %>
</div>

<% if false %>
  <h3><%= @flights.any? ? 'Available flights:' : 'There are no available flights' %></h3>
  <div>
    <% @flights.each do |flight| %>
      <%= flight.id %><br>
      <%= flight.departure_airport.iata_code %><br>
      <%= flight.arrival_airport.iata_code %><br>
      <%= flight.date %><br>
      <%= flight.duration %><br><br>
    <% end %>
  </div>
<% end %>

<% if false %>
  <div>
    <% form_with method: :get do |form| %>
      <%= form.radio_button :choice, "this" %>
      <%= form.label :choice_this, "this" %>
      <%= form.radio_button :choice, "that" %>
      <%= form.label :choice_that, "that" %>
      <%= form.submit "Submit" %>
    <% end %>
  </div>
<% end %>